.btn {
    margin-right: 15px;
}

.btn-d {
    margin-left: 25px;
    color: red
}

.filtro {
    width: 40%;
}

.title {
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
}

.scroll-400 {
    overflow: scroll;
    height: 400px;
}