.btn {
    margin-right: 15px;
}

.btn-d {
    margin-left: 25px;
    color: red
}

.filtro {
    width: 40%;
}

.title {
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
}

.scroll-400 {
    overflow-y: scroll;
    height: 400px;
}

.table th {
    background-color: #fcecb3;
}

.table tr {
    background-color: #fcecb3;
}

@media (max-width: 432px) {
    .filtro {
        width: 100%;
    }
    
}