.mff {
    margin-left: 20px;
    margin-top: 12px;
    width: 260px;
}

button {
    margin-left: 50px;
    width: 90px;
    height: 30px;
}

.txtTema {
    color: brown; 
    font-weight: bold; 
    letter-spacing: 3px;
}

.barraColor {
    color: #40403f;
    font-weight: 500;
    width: 140px;
    height: 25px;
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.nameColor {
    background-color: #e4e5e0;
    padding: 0 6px;
}

.temas{
    overflow-y: scroll;
    height: 300px;
}

.scroll-400 {
    overflow-y: scroll;
    height: 400px;
}

