<mat-card>
    <mat-card-header>
        <mat-card-title>
            Tema Interpretaciones
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="mff">
            <mat-label >Selecciona un tema</mat-label>
    
            <mat-select [formControl]="temaControl" (closed)=" isActualizarTema = true" >
                <mat-option
                    *ngFor="let temas of temasList"
                    [value]="temas"
                    >
                    {{ temas }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button (click)="actualizarTema()" *ngIf="isActualizarTema" >Cambiar</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Catálogo Tipos Paquete</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="formularioTiposPaquetes">
        <mat-form-field class="mff">
            <mat-label>Tipo Paquete</mat-label>
            <input
            type="text"
            matInput
            formControlName="tipoPaquete"/>
        </mat-form-field>
        <mat-form-field class="mff">
            <mat-label>Numero de Empaques</mat-label>
            <input
            type="text"
            matInput
            (keyup)="soloNumeros($event)"
            (keydown)="soloNumeros($event)"
            (keypress)="soloNumeros($event)"
            formControlName="totalEmpaques"/>
        </mat-form-field>

        <button
        mat-stroked-button
        [disabled]="formularioTiposPaquetes.invalid"
        (click)="calcular()"
      >
        Archivar
      </button>
    </form>

    <table mat-table [dataSource]="datasourceTP" #table>
        <ng-container matColumnDef="tipoPaquete">
          <th mat-header-cell *matHeaderCellDef>Tipo Paquete</th>
          <td mat-cell *matCellDef="let element">{{ element.tipoPaquete }}</td>
        </ng-container>

        <ng-container matColumnDef="totalEmpaques">
            <th mat-header-cell *matHeaderCellDef>Total Empaques</th>
            <td mat-cell *matCellDef="let element">{{ element.totalEmpaques }}</td>
        </ng-container>

        <ng-container matColumnDef="columnGrid">
            <th mat-header-cell *matHeaderCellDef>Column Grid</th>
            <td mat-cell *matCellDef="let element">{{ element.columnGrid }}</td>
        </ng-container>

        <ng-container matColumnDef="rowGrid">
            <th mat-header-cell *matHeaderCellDef>Row Grid</th>
            <td mat-cell *matCellDef="let element">{{ element.rowGrid }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let index = index">
                <button
                    mat-stroked-button
                    (click)="editar(element)">
                Editar
                </button>
                <button
                    mat-stroked-button
                    (click)="mostrarEliminar(element, false)">
                Eliminar
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedTiposPaquetesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedTiposPaquetesColumns"></tr>
    </table>

  </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            L&P Console
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
</mat-card>