.section {
    max-width: 85%;
    margin: 70px auto;
    background-color: #704214;
}

.mff {
    margin-left: 20px;
    margin-top: 12px;
    width: 260px;
}

button {
    margin-left: 15px;
    width: 90px;
    height: 30px;
    background-color: #fff6d5;
}

.txtTema {
    color: brown; 
    font-weight: bold; 
    letter-spacing: 3px;
    
}

.table th {
    background-color: #fcecb3;
}

.table tr {
    background-color: #fcecb3;
}

.barraColor {
    color: #40403f;
    font-weight: 500;
    width: 140px;
    height: 25px;
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.nameColor {
    background-color: #fcecb3;
    padding: 0 6px;
}

.temas{
    overflow-y: scroll;
    height: 300px;
    background-color: #e6b505;
}

.scroll-400 {
    overflow-y: scroll;
    height: 400px;
}

