.d-descripcion-i {
    //background-color: aqua;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcion-i {
    width: 1200px;
    height: 550px;
}

.descripcion {
    width: 1200px;
    text-align: justify;
    font-size: 18px;
}

.mff {
    margin-left: 20px;
    margin-top: 12px;
    width: 260px;
}

button {
    margin-left: 50px;
    width: 90px;
    height: 30px;
}

@media only screen and (max-width: 435px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mbl {
        width: 92%;
        flex-direction: column;
        align-items: center;
    }

    .descripcion {
        margin-top: 50px;
        align-items: center;
        width: 100%;
        font-size: 20px;
        line-height: 1.5;
    }

    button {
        margin-bottom: 50px;
        width: 90%;
        font-size: 18px;
    }

    .d-descripcion-i {
        width: 100%;
        height: 100%;
    }

    .descripcion-i {
        width: 100%;
        height: auto;
        font-size: 20px;
        line-height: 1.5;
    }

}