<div class="cont-table">
  <p>
    Encuentra nuestros productos en cualquier de los siguientes puntos de venta:
  </p>

  <table mat-table [dataSource]="datasourcePV" #tablePuntoVenta>
    <ng-container matColumnDef="comercio">
      <th mat-header-cell *matHeaderCellDef>Lugar</th>
      <td mat-cell *matCellDef="let element">{{ element.nombreComercial }}</td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef>Dirección</th>
      <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
    </ng-container>

    <ng-container matColumnDef="mapa">
      <th mat-header-cell *matHeaderCellDef>Ubicación</th>
      <td mat-cell *matCellDef="let element">
        <a mat-raised-button href="{{ element.urlMaps }}" target="_blank">
            Ver Mapa <span class="material-icons">pin_drop</span>
        </a>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedPVColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedPVColumns"></tr>
  </table>
</div>
