.cont-table {
    width: 90%;
    margin: auto;
}

.d-table {
    margin: 12px auto;
    width: 100%;
}

.gral {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.son {
    margin: 30px auto;
}

.circle {
    width: 100%;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.card {
    //border: solid 2px #000;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    //justify-content: space-evenly;
    width: 350px;
}

.dulce {
    margin: auto 22px;
    font-size: 27px;
}

.img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-color: #363333;
}

li {
    margin: 15px;
    
}

ul {
    list-style: none;
}

.gde {
    background-color: #898686;
    width: 180px;
    height: 180px;
    margin: 5px 12px;
}


@media only screen and (max-width: 435px) {

    .son {
        margin: 15px auto;
    }

    img {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        object-fit: cover;
    }

    .cont-table {
        width: 95%;
        margin: auto;
    }

    .d-table {
        width: 75%;
        margin: auto;
    }

    .direccion {
        font-size: 11px;
    }

    .lugar {
        font-size: 14px;
    }

    .btn_txt {
        font-size: 15px;
        margin: 12px 14px;
        color: brown;
        width: 100%;
    }

    a {
        height: 100%;
    }

    ul {
        background-color: cadetblue;
    }

    li {
        background-color: aliceblue;
        margin: 15px 35px 15px auto;
    }

    .card {
        width: 100%;
        background-color: aqua;
        justify-content: space-between;
    }

    .img {
        width: 95px;
        height: 95px;
        background-color: #9e4d4d;
    }

    .dulce {
        margin: auto;
        font-size: 18px;
    }

    .gde {
        background-color: #d94a4a;
        width: 140px;
        height: 180px;
        margin: 0px 14px;
    }
}