body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fondo {
  background-color: #deaa87;
  //width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.config-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
}

p {
//font-size: 25px;
font-family: "Passero One", sans-serif;
letter-spacing: 2px;
//text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
line-height: 1.4;
font-style: normal;
//color: ;
//text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555,
  //1px 1px 0 #555, 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
}

.camino {
  height: 1000px;
  background-color: #deaa87;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  box-sizing: border-box;
}

.bosque {
  width: 100%;
  height: 638px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.escenarios {
  height: 1000px;
  background-color: #deaa87;
  position: relative;
  //background-color: #8791de;
}

.escenario-letrero {
  height: 780px;
  background-color: #deaa87;
  background-image: url("../../../assets/img/fondos/camino-1.svg");
}

.camino-dos {
  background-image: url("../../../assets/img/fondos/camino-2.svg");
  width: 100%;
  height: 780px;
  //background-color: #333;
}

.camino-cuatro {
  background-image: url("../../../assets/img/fondos/camino-4.svg");
  width: 100%;
  height: 794px;
}

.camino-seis {
  background-image: url("../../../assets/img/fondos/camino-6.svg");
  width: 100%;
  height: 770px;
}

.escenario-mapa {
  height: 797px;
  width: 100%;
  background-color: #deaa87;
  background-image: url("../../../assets/img/fondos/camino-3.svg");
}

.escenario-tienda {
  height: 795px;
  width: 100%;
  background-color: #deaa87;
  background-image: url("../../../assets/img/fondos/camino-5.svg");
}

.escenario-instruccion {
  height: 1000px;
  width: 100%;
  background-color: #deaa87;
  background-image: url("../../../assets/img/fondos/camino-7.svg");
}

.letrero {
  //margin-top: 90px ;
  width: 47vw;
  height: 47vh;
  background-image: url("../../../assets/img/fondos/letrero.svg");
  transform: translate(-95%, -50%);
  //background-color: #6b4407;
}

.saludo {
  //margin-top: 90px ;
  width: 50vw;
  height: 50vh;
  background-image: url("../../../assets/img/fondos/saludo.svg");
  transform: translate(-50%, -35%);
}

.introduccion-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 70%;
  height: 55%;
  //background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;
  text-align: center;*/
  overflow-y: scroll;
  box-sizing: border-box;
  gap: 5px;
}

.introduccion-text {
  font-size: 15px;
  color: #704214;
  text-align: center;
  line-height: 1.6;
}

.descripcion-seccion {
  margin: 50px 80px;
  font-size: 20px;
  padding: 15px;
  width: 35%;
  border-radius: 5px;
  background-color: #f1f29c;
  border: 4px #704214 dashed;
  color: #ff7f7f;
  font-weight: 500;
}

.mapa {
  //margin-top: 90px ;
  width: 60vw;
  height: 30vw;
  background-image: url("../../../assets/img/fondos/guia.svg");
  transform: translate(-20%, -50%);
  //background-color: #483d8b;
}

.buscar {
  //margin-top: 90px ;
  width: 40vw;
  height: 40vh;
  background-image: url("../../../assets/img/fondos/buscar.svg");
  transform: translate(-80%, -20%);
  
  //background-color: #483d8b;
}

.cont-table {
  //box-shadow: 12px 12px 24px #8e6300; // #fbb40e;
  width: 83%;
  height: 290px;
  margin: auto;
  //padding: 10px;
  //background-color: #483D8B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.table th {
  background-color: #fff6d5;
  font-weight: bold;
  //color: #483d8b;
}

.table tr {
  color: #bf890b;
  background-color: #fff6d5;
  //background: rgb(19,18,20);
//background: radial-gradient(circle, rgba(19,18,20,1) 0%, rgba(128,0,128,1) 30%, rgba(0,0,0,1) 67%, rgba(128,0,128,1) 95%);
  font-size: 15px;
  font-family: "Passero One", sans-serif;
  height: 50px;
  //letter-spacing: 5px;
}

.table tr:hover {
  background-color: #ffeeaa;
}

.puesto {
  //margin-top: 90px ;
  width: 60vw;
  height: 60vh;
  background-image: url("../../../assets/img/fondos/puesto.svg");
  //top: 50%;
  //left: 50%;
  transform: translate(-80%, -50%);
  //background-color: #483d8b;
}

.presentar {
  //margin-top: 90px ;
  width: 20vw;
  height: 50vh;
  background-image: url("../../../assets/img/fondos/presentar.svg");
  //top: 50%;
  //left: 50%;
  transform: translate(-20%, -30%);
  //background-color: #483d8b;
}

.carrusel {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #333;
}

.carr-img {
  //width: 250px;
  height: 230px;
  background-color: #0174df;
}

.instrucciones {
  //margin-top: 90px ;
  width: 100%;
  //background-color: #483d8b;
}

.inst-img {
  margin: 10px ;
  width: 180px;
  height: 280px;
  //background-color: #483d8b;
}

.ul-inst {
  list-style: none;
  margin: 0 auto;
  //background-color: #bf890b;
  width: 600px;
}

.banner {
  background-image: url("../../../assets/img/fondos/banner.svg");
  position: relative;
}

.logo {
  position: absolute;
  box-sizing: border-box;
  top: 5%;
  left: 31%;
  width: 500px;
  height: 500px;
  //position: relative;
  //transform: translate(10%, 20%);
}

.button {
  //background-color: #333;
  background-image: url("../../../assets/img/btn/boton-mapa.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  width: 5vw;
  height: 5vh;
  animation: escalaImagen 1.2s infinite alternate ease-in-out;
}

@keyframes escalaImagen {
  from {
    filter: drop-shadow(5px 5px 5px #f79901);
    transform: scale(1, 1);
  } to {
    filter: drop-shadow(5px 5px 5px #6b4407);
    transform: scale(1.01, 1.01);
  }
}

.footer {
  width: 100%;
  //height: 120px;
  background-color: #d38d5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: inline-flex;
  //gap: 5px;
}

.contacto {
  //background-color: #0174df;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  display: inline-flex;
  width: 30%;
}

.icon-contacto {
  width: 35px;
  height: 35px;
}

.cpr {
  margin: 15px auto;
  //background-color: #0174df;
}

/**
* Diseño responsivo tablet
*/

@media only screen and (max-width: 820px) and (min-width: 771px) {

  .fondo {
    padding: 0;
    margin: 0;
  }

  .bosque, .camino {
    width: 100%;
  }

  .bosque {
    background-image: url("../../../assets/img/fondos/mobile/mbanner.svg");
    height: 1900px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .logo {
    width: 450px;
    height: 450px;
    top: 25%;
    margin-left: -8%;
    //background-color: #bf890b;
  }

  .camino {
    height: 400px;
    //gap: 15px;
  }

  .escenario-letrero {
    height: 1670px;
    background-image: url("../../../assets/img/fondos/mobile/fm-letrero.svg");
    //background-color: #333;
  }

  .config-img{
    width: 100%;
    height: 450px;    
    transform: translate(-50%, -50%);
  }

  .letrero {
    background-image: url("../../../assets/img/fondos/mobile/mletrero.svg");
    //background-color: #6b4407;
  }

  .saludo {
    width: 170px;
    height: 340px;
    left: 80%;
    transform: translate(-15%, -5%);
    //background-color: #bf890b;
  }

  .introduccion-box {
    //background-color: aqua;
    width: 500px;
    height: 280px;
    overflow-y: scroll;
    gap: 10px;
  }

  .introduccion-text {
    font-size: 23px;
    line-height: 1.3;
    text-align: center;
  }

  .descripcion-seccion {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
  }

  .escenario-mapa {
    background-image: url("../../../assets/img/fondos/mobile/fm-mapa.svg");
    height: 1660px;
    padding: 10px 0;
    gap: 20px;
  }

  .mapa {
    background-image: url("../../../assets/img/fondos/mobile/mguia.svg");
    margin: 10px 0;
    height: 750px;
    /*width: 95%;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #f9b951;
  }

  .cont-table {
    width: 75%;
    height: 600px;
  }

  .table th, .table tr {
    font-size: 20px;
  }

  .button {
    width: 60px;
    height: 30px;
    background-image: url("../../../assets/img/btn/mboton-mapa.png");
    //background-color: #483D8B;
  }

  .mbl-direccion {
    font-size: 18px;
    text-align: justify;
  }

  .buscar {
    width: 95px;
    height: 190px;
    left: 22%;
    transform: translate(-90%, 25%);
  }

  .escenario-tienda {
    height: 1660px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-mercado.svg");
    //background-color: #333;
  }

  .puesto {
    background-image: url("../../../assets/img/fondos/mobile/mpuesto.svg");
    margin: 50px 0;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-sizing: border-box;
    //background-color: #f1f29c;
  }

  .carrusel {
    transform: translate(-50%, -45%);
    width: 500px;
  }

  .carr-img {
    height: 350px;
  }

  .presentar {
    width: 190px;
    height: 380px;
    left: 80%;
    transform: translate(-60%, 40%);
  }

  .escenario-instruccion {
    height: 1660px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-instrucciones.svg");
  }

  .instrucciones-mbl {
    background-color:#d38d5f;
    width: 70%;
    margin: 50px auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #c87137;
  }

  .inst-img {
    //background-color: #fff;
    margin: auto;
    width: 250px;
    height: 350px;
  }

  .camino-dos {
    background-image: url("../../../assets/img/fondos/mobile/camino2.svg");
    width: 100%;
    height: 1255px;
    //background-color: #333;
  }

  .camino-cuatro {
    background-image: url("../../../assets/img/fondos/mobile/camino4.svg");
    width: 100%;
    height: 1255px;;
    //background-color: #333;
  }

  .camino-seis {
    background-image: url("../../../assets/img/fondos/mobile/camino6.svg");
    width: 100%;
    height: 1255px;
    //background-color: #333;
  }

  .deslizar {
    //background-color: #bf890b;
    width: 80%;
    margin: auto;
    position: relative;
    transform: translate(0, -150px);
  }

  .dedo {
    height: 140px;
    width: 70px;
    position: relative;
    margin: auto;
    animation: dezlis 8s infinite;
    //background-color: #0174df;
  }

  @keyframes dezlis {
    0% {
      left: 70%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 70%;
    }
  }

  .contacto {
    width: 90%;
  }

  .icon-contacto {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 770px) and (min-width: 456px) {

  .fondo {
    padding: 0;
    margin: 0;
  }

  .bosque, .camino {
    width: 100%;
  }

  .bosque {
    background-image: url("../../../assets/img/fondos/mobile/mbanner.svg");
    height: 1800px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .logo {
    width: 500px;
    height: 500px;
    top: 22%;
    margin-left: -14%;
    //background-color: #bf890b;
  }

  .camino {
    height: 400px;
    //gap: 15px;
  }

  .escenario-letrero {
    height: 1580px;
    background-image: url("../../../assets/img/fondos/mobile/fm-letrero.svg");
    //background-color: #333;
  }

  .config-img{
    width: 100%;
    height: 450px;    
    transform: translate(-50%, -50%);
  }

  .letrero {
    background-image: url("../../../assets/img/fondos/mobile/mletrero.svg");
    /*width: 400px;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #6b4407;
  }

  .saludo {
    width: 170px;
    height: 340px;
    left: 80%;
    transform: translate(-20%, -5%);
    //background-color: #bf890b;
  }

  .introduccion-box {
    //background-color: aqua;
    width: 450px;
    height: 300px;
    overflow-y: scroll;
    gap: 10px;
  }

  .introduccion-text {
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

  .descripcion-seccion {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
  }

  .escenario-mapa {
    background-image: url("../../../assets/img/fondos/mobile/fm-mapa.svg");
    height: 1580px;
    padding: 10px 0;
    gap: 20px;
  }

  .mapa {
    background-image: url("../../../assets/img/fondos/mobile/mguia.svg");
    margin: 10px 0;
    height: 700px;
    /*width: 95%;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #f9b951;
  }

  .cont-table {
    width: 75%;
    height: 500px;
  }

  .table th, .table tr {
    font-size: 22px;
    //background-color: #333;
  }

  .button {
    width: 70px;
    height: 35px;
    background-image: url("../../../assets/img/btn/mboton-mapa.png");
    //background-color: #483D8B;
  }

  .mbl-direccion {
    font-size: 18px;
    text-align: justify;
  }

  .buscar {
    width: 95px;
    height: 190px;
    left: 22%;
    transform: translate(-90%, 25%);
  }

  .escenario-tienda {
    height: 1570px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-mercado.svg");
    //background-color: #333;
  }

  .puesto {
    background-image: url("../../../assets/img/fondos/mobile/mpuesto.svg");
    margin: 50px 0;
    height: 750px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-sizing: border-box;
    //background-color: #f1f29c;
  }

  .carrusel {
    transform: translate(-50%, -44%);
    width: 400px;
  }

  .carr-img {
    height: 350px;
  }

  .presentar {
    width: 170px;
    height: 340px;
    left: 80%;
    transform: translate(-60%, 40%);
  }

  .escenario-instruccion {
    height: 1550px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-instrucciones.svg");
  }

  .instrucciones-mbl {
    background-color:#d38d5f;
    width: 70%;
    margin: 50px auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #c87137;
  }

  .inst-img {
    //background-color: #fff;
    margin: auto;
    width: 250px;
    height: 350px;
  }

  .camino-dos {
    background-image: url("../../../assets/img/fondos/mobile/camino2.svg");
    width: 100%;
    height: 1190px;
    //background-color: #333;
  }

  .camino-cuatro {
    background-image: url("../../../assets/img/fondos/mobile/camino4.svg");
    width: 100%;
    height: 1190px;
    //background-color: #333;
  }

  .camino-seis {
    background-image: url("../../../assets/img/fondos/mobile/camino6.svg");
    width: 100%;
    height: 1170px;
    //background-color: #333;
  }

  .deslizar {
    //background-color: #bf890b;
    width: 80%;
    margin: auto;
    position: relative;
    transform: translate(0, -150px);
  }

  .dedo {
    height: 140px;
    width: 70px;
    position: relative;
    margin: auto;
    animation: dezlis 8s infinite;
    //background-color: #0174df;
  }

  @keyframes dezlis {
    0% {
      left: 70%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 70%;
    }
  }

  .contacto {
    width: 90%;
  }

  .icon-contacto {
    width: 40px;
    height: 40px;
  }
}



/**
* Diseño responsivo mobile
*/

@media only screen and (max-width: 455px) and (min-width: 396px) {

  .fondo {
    padding: 0;
    margin: 0;
  }

  .bosque, .camino {
    width: 100%;
  }

  .bosque {
    background-image: url("../../../assets/img/fondos/mobile/mbanner.svg");
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .logo {
    width: 330px;
    height: 330px;
    top: 20%;
    margin-left: -20%;
    //background-color: #bf890b;
  }

  .camino {
    height: 400px;
    //gap: 15px;
  }

  .escenario-letrero {
    height: 880px;
    background-image: url("../../../assets/img/fondos/mobile/fm-letrero.svg");
    //background-color: #333;
  }

  .config-img{
    width: 100%;
    height: 250px;    
    transform: translate(-50%, -50%);
  }

  .letrero {
    background-image: url("../../../assets/img/fondos/mobile/mletrero.svg");
    /*width: 400px;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #6b4407;
  }

  .saludo {
    width: 100px;
    height: 200px;
    left: 80%;
    transform: translate(-20%, -20%);
    //background-color: #bf890b;
  }

  .introduccion-box {
    //background-color: aqua;
    width: 280px;
    height: 160px;
    overflow-y: scroll;
    gap: 2px;
  }

  .introduccion-text {
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
  }

  .descripcion-seccion {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
  }

  .escenario-mapa {
    background-image: url("../../../assets/img/fondos/mobile/fm-mapa.svg");
    height: 880px;
    padding: 10px 0;
    gap: 20px;
  }

  .mapa {
    background-image: url("../../../assets/img/fondos/mobile/mguia.svg");
    margin: 10px 0;
    height: 500px;
    /*width: 95%;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #f9b951;
  }

  .cont-table {
    width: 80%;
    height: 300px;
  }

  .table th, .table tr {
    font-size: 14px;
  }

  .button {
    width: 60px;
    height: 30px;
    background-image: url("../../../assets/img/btn/mboton-mapa.png");
    //background-color: #483D8B;
  }

  .mbl-direccion {
    font-size: 11px;
    text-align: justify;
  }

  .buscar {
    width: 95px;
    height: 190px;
    left: 22%;
    transform: translate(-90%, 25%);
  }

  .escenario-tienda {
    height: 880px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-mercado.svg");
    //background-color: #333;
  }

  .puesto {
    background-image: url("../../../assets/img/fondos/mobile/mpuesto.svg");
    margin: 50px 0;
    height: 560px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-sizing: border-box;
    //background-color: #f1f29c;
  }

  .carrusel {
    transform: translate(-50%, -64%);
    width: 330px;
  }

  .carr-img {
    height: 350px;
  }

  .presentar {
    width: 150px;
    height: 300px;
    left: 80%;
    transform: translate(-60%, 40%);
  }

  .escenario-instruccion {
    height: 880px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-instrucciones.svg");
  }

  .instrucciones-mbl {
    background-color:#d38d5f;
    width: 70%;
    margin: 50px auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #c87137;
  }

  .inst-img {
    //background-color: #fff;
    margin: auto;
    width: 250px;
    height: 350px;
  }

  .camino-dos {
    background-image: url("../../../assets/img/fondos/mobile/camino2.svg");
    width: 100%;
    height: 660px;
    //background-color: #333;
  }

  .camino-cuatro {
    background-image: url("../../../assets/img/fondos/mobile/camino4.svg");
    width: 100%;
    height: 660px;
    //background-color: #333;
  }

  .camino-seis {
    background-image: url("../../../assets/img/fondos/mobile/camino6.svg");
    width: 100%;
    height: 660px;
    //background-color: #333;
  }

  .deslizar {
    //background-color: #bf890b;
    width: 80%;
    margin: auto;
    position: relative;
    transform: translate(0, -150px);
  }

  .dedo {
    height: 140px;
    width: 70px;
    position: relative;
    margin: auto;
    animation: dezlis 8s infinite;
    //background-color: #0174df;
  }

  @keyframes dezlis {
    0% {
      left: 70%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 70%;
    }
  }

  .contacto {
    width: 90%;
  }

  .icon-contacto {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 395px) and (min-width: 361px) {

  .fondo {
    padding: 0;
    margin: 0;
  }

  .bosque, .camino {
    width: 100%;
  }

  .bosque {
    background-image: url("../../../assets/img/fondos/mobile/mbanner.svg");
    height: 920px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .logo {
    width: 330px;
    height: 330px;
    top: 20%;
    margin-left: -25%;
    //background-color: #bf890b;
  }

  .camino {
    height: 400px;
    //gap: 15px;
  }

  .escenario-letrero {
    height: 800px;
    width: 100%;
    background-image: url("../../../assets/img/fondos/mobile/fm-letrero.svg");
    //background-color: #333;
  }

  .config-img{
    width: 100%;
    height: 250px;    
    transform: translate(-50%, -50%);
  }

  .letrero {
    background-image: url("../../../assets/img/fondos/mobile/mletrero.svg");
    /*width: 400px;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #6b4407;
  }

  .saludo {
    width: 100px;
    height: 200px;
    left: 80%;
    transform: translate(-28%, -5%);
    //background-color: #bf890b;
  }

  .introduccion-box {
    //background-color: aqua;
    width: 270px;
    height: 150px;
    overflow-y: scroll;
    gap: 3px;
  }

  .introduccion-text {
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
  }

  .descripcion-seccion {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
  }

  .escenario-mapa {
    background-image: url("../../../assets/img/fondos/mobile/fm-mapa.svg");
    height: 800px;
    padding: 10px 0;
    gap: 20px;
  }

  .mapa {
    background-image: url("../../../assets/img/fondos/mobile/mguia.svg");
    margin: 10px 0;
    height: 500px;
    /*width: 95%;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #f9b951;
  }

  .cont-table {
    width: 80%;
    height: 283px;
  }

  .table th, .table tr {
    font-size: 14px;
    //background-color: #333;
  }

  .button {
    width: 60px;
    height: 30px;
    background-image: url("../../../assets/img/btn/mboton-mapa.png");
    //background-color: #483D8B;
  }

  .mbl-direccion {
    font-size: 11px;
    text-align: justify;
  }

  .buscar {
    width: 95px;
    height: 190px;
    left: 22%;
    transform: translate(-90%, 25%);
  }

  .escenario-tienda {
    height: 800px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-mercado.svg");
    //background-color: #333;
  }

  .puesto {
    background-image: url("../../../assets/img/fondos/mobile/mpuesto.svg");
    margin: 50px 0;
    height: 560px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-sizing: border-box;
    //background-color: #f1f29c;
  }

  .carrusel {
    transform: translate(-50%, -64%);
    width: 330px;
  }

  .carr-img {
    height: 350px;
  }

  .presentar {
    width: 150px;
    height: 300px;
    left: 80%;
    transform: translate(-60%, 40%);
  }

  .escenario-instruccion {
    height: 800px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-instrucciones.svg");
  }

  .instrucciones-mbl {
    background-color:#d38d5f;
    width: 70%;
    margin: 50px auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #c87137;
  }

  .inst-img {
    //background-color: #fff;
    margin: auto;
    width: 250px;
    height: 350px;
  }

  .camino-dos {
    background-image: url("../../../assets/img/fondos/mobile/camino2.svg");
    width: 100%;
    height: 600px;
    //background-color: #333;
  }

  .camino-cuatro {
    background-image: url("../../../assets/img/fondos/mobile/camino4.svg");
    width: 100%;
    height: 600px;
    //background-color: #333;
  }

  .camino-seis {
    background-image: url("../../../assets/img/fondos/mobile/camino6.svg");
    width: 100%;
    height: 600px;
    //background-color: #333;
  }

  .deslizar {
    //background-color: #bf890b;
    width: 80%;
    margin: auto;
    position: relative;
    transform: translate(0, -150px);
  }

  .dedo {
    height: 140px;
    width: 70px;
    position: relative;
    margin: auto;
    animation: dezlis 8s infinite;
    //background-color: #0174df;
  }

  @keyframes dezlis {
    0% {
      left: 70%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 70%;
    }
  }

  .contacto {
    width: 90%;
  }

  .icon-contacto {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 360px) {

  .fondo {
    padding: 0;
    margin: 0;
  }

  .bosque, .camino {
    width: 100%;
  }

  .bosque {
    background-image: url("../../../assets/img/fondos/mobile/mbanner.svg");
    height: 887px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .logo {
    width: 300px;
    height: 300px;
    top: 20%;
    margin-left: -22%;
    //background-color: #bf890b;
  }

  .camino {
    height: 400px;
    //gap: 15px;
  }

  .escenario-letrero {
    height: 780px;
    width: 100%;
    background-image: url("../../../assets/img/fondos/mobile/fm-letrero.svg");
    //background-color: #333;
  }

  .config-img{
    width: 100%;
    height: 250px;    
    transform: translate(-50%, -50%);
  }

  .letrero {
    background-image: url("../../../assets/img/fondos/mobile/mletrero.svg");
    /*width: 400px;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #6b4407;
  }

  .saludo {
    width: 100px;
    height: 200px;
    left: 80%;
    transform: translate(-30%, -5%);
    //background-color: #bf890b;
  }

  .introduccion-box {
    //background-color: aqua;
    width: 260px;
    height: 140px;
    overflow-y: scroll;
    gap: 3px;
  }

  .introduccion-text {
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
  }

  .descripcion-seccion {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
  }

  .escenario-mapa {
    background-image: url("../../../assets/img/fondos/mobile/fm-mapa.svg");
    height: 777px;
    padding: 10px 0;
    gap: 20px;
  }

  .mapa {
    background-image: url("../../../assets/img/fondos/mobile/mguia.svg");
    margin: 10px 0;
    height: 500px;
    /*width: 95%;
    height: 250px;    
    transform: translate(-50%, -50%);*/
    //background-color: #f9b951;
  }

  .cont-table {
    width: 80%;
    height: 275px;
  }

  .table th, .table tr {
    font-size: 14px;
  }

  .button {
    width: 60px;
    height: 30px;
    background-image: url("../../../assets/img/btn/mboton-mapa.png");
    //background-color: #483D8B;
  }

  .mbl-direccion {
    font-size: 11px;
    text-align: justify;
  }

  .buscar {
    width: 95px;
    height: 190px;
    left: 22%;
    transform: translate(-90%, 25%);
  }

  .escenario-tienda {
    height: 770px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-mercado.svg");
    //background-color: #333;
  }

  .puesto {
    background-image: url("../../../assets/img/fondos/mobile/mpuesto.svg");
    margin: 50px 0;
    height: 560px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-sizing: border-box;
    //background-color: #f1f29c;
  }

  .carrusel {
    transform: translate(-50%, -64%);
    width: 330px;
  }

  .carr-img {
    height: 350px;
  }

  .presentar {
    width: 150px;
    height: 300px;
    left: 80%;
    transform: translate(-60%, 40%);
  }

  .escenario-instruccion {
    height: 770px;
    padding: 20px;
    background-image: url("../../../assets/img/fondos/mobile/fm-instrucciones.svg");
  }

  .instrucciones-mbl {
    background-color:#d38d5f;
    width: 70%;
    margin: 50px auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #c87137;
  }

  .inst-img {
    //background-color: #fff;
    margin: auto;
    width: 250px;
    height: 350px;
  }

  .camino-dos {
    background-image: url("../../../assets/img/fondos/mobile/camino2.svg");
    width: 100%;
    height: 586px;
    //background-color: #333;
  }

  .camino-cuatro {
    background-image: url("../../../assets/img/fondos/mobile/camino4.svg");
    width: 100%;
    height: 587px;
    //background-color: #333;
  }

  .camino-seis {
    background-image: url("../../../assets/img/fondos/mobile/camino6.svg");
    width: 100%;
    height: 577px;
    //background-color: #333;
  }

  .deslizar {
    //background-color: #bf890b;
    width: 80%;
    margin: auto;
    position: relative;
    transform: translate(0, -150px);
  }

  .dedo {
    height: 140px;
    width: 70px;
    position: relative;
    margin: auto;
    animation: dezlis 8s infinite;
    //background-color: #0174df;
  }

  @keyframes dezlis {
    0% {
      left: 70%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 70%;
    }
  }

  .contacto {
    width: 90%;
  }

  .icon-contacto {
    width: 40px;
    height: 40px;
  }
}