<div class="bkg">
  <div class="banner">
    <img
      src="../../../assets/img/logos/lrd-logo.jpeg"
      alt="LOGO"
      data-aos="zoom-in"
      data-aos-duration="1500"
    />
  </div>

  <div
    class="presentacion"
    data-aos="zoom-in-up"
    data-aos-easing="ease-in-out-sine"
    data-aos-duration="2000"
  >
    <p class="descripcion">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis
      in dui in mattis. Vestibulum facilisis orci et dolor feugiat, non
      scelerisque mauris tempus. Aenean vitae lectus posuere, egestas velit sed,
      consectetur elit. Ut maximus viverra turpis sed pellentesque. Sed maximus
      ut nisi hendrerit gravida. Mauris molestie tempus quam nec semper. Nulla
      eu convallis quam. Donec tincidunt sagittis mi, et viverra ipsum tempor
      sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos.
    </p>
  </div>

  <div
    class="marco"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
  >
    <div class="son">
      <p class="descripcion">
        Tu dosis de dulzura y fortuna, más cerca que nunca...
      </p>
      <p class="descripcion">Encuentranos en:</p>

      <div class="tabla" data-aos="flip-left" data-aos-duration="1500">
        <table mat-table [dataSource]="datasourcePV" #tablePuntoVenta>
          <ng-container matColumnDef="comercio">
            <th mat-header-cell *matHeaderCellDef>Lugar</th>
            <td mat-cell *matCellDef="let element" class="lugar">
              {{ element.nombreComercial }}
            </td>
          </ng-container>
          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let element" class="direccion">
              {{ element.direccion }}
            </td>
          </ng-container>
          <ng-container matColumnDef="mapa">
            <th mat-header-cell *matHeaderCellDef c>Ubicación</th>
            <td mat-cell *matCellDef="let element">
              <a
                mat-raised-button
                href="{{ element.urlMaps }}"
                target="_blank"
                class="btn_table"
              >
                <p class="btn_txt">Mapa</p>
                <span class="material-icons pin">pin_drop</span>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedPVColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedPVColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <div class="marco" data-aos="fade-up-left" data-aos-duration="2000">
    <div class="son">
      <p class="descripcion">Endulza tu destino facilmente...</p>
      <p class="descripcion">Conoce nuestra variedad de productos:</p>

      <div class="galeria">
        <div class="item_g">
          <div class="item-desc inf-der"><p class="item-txt descripcion">chocolate</p></div>
        </div>
        <div class="item_g">
          <div class="item-desc sup-izq"><p class="item-txt descripcion">gomitas</p></div>
        </div>
        <div class="item_g">
          <div class="item-desc inf-der"><p class="item-txt descripcion">cacahuates</p></div>
        </div>
        <div class="item_g">
          <div class="item-desc sup-izq"><p class="item-txt descripcion">bombones</p></div>
        </div>
        <div class="item_g">
          <div class="item-desc inf-der"><p class="item-txt descripcion">galletas</p></div>
        </div>
        <div class="item_g">
          <div class="item-desc sup-izq"><p class="item-txt descripcion">individual</p></div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="marco"
    data-aos="zoom-in-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
  >
    <div class="son">
      <p class="descripcion">Y a todo esto..</p>
      <p>¿Cómo funciona?</p>
    </div>
  </div>
</div>
