.pad {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.base {
  width: 350px;
  height: 95%;
  gap: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 230px;
  height: 230px;
  margin: 20px;
  flex-shrink: 0;
  //background-color: aqua;
}

.instrucciones-txt {
  background-color: #704214;
  border-radius: 5px;
  width: 85%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-shrink: 0;
}

.descripcion-titulo {
  font-size: 22px;
  font-family: "Passero One", sans-serif;
  letter-spacing: 2px;
  //text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
  line-height: 1.4;
  font-style: normal;
  color: #f1f29c;
}

.descripcion-txt {
  font-size: 15px;
  font-family: "Fondamento", sans-serif;
  letter-spacing: 2px;
  //text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
  line-height: 1.4;
  font-weight: bold;
  color: #f9caca;
}

.contenedor-instrucciones {
  width: 100%;
  display: flex;
  justify-content: center;
  //background-color: aqua;
  flex-shrink: 0;
}

.ul-inst {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 95%;
  overflow: hidden;
  //background-color: #bf890b;
}

.li-inst {
  //background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.li-inst:last-child {
  border-bottom: none;
}

.li-inst .inst-img {
  width: 150px;
  height: 230px;
  object-fit: contain;
  display: block;
}

.btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12vw;
  height: 12vh;
  margin-bottom: 20px;
  cursor: pointer;
  animation-name: btnScala;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.btnContinuar {
  background-image: url("../../../assets/img/btn/boton-continuar.svg");
  flex-shrink: 0;
}

.btnMensaje {
  background-image: url("../../../assets/img/btn/boton-mensaje.svg");
}

.btnInicio {
  width: 9vw;
  height: 9vh;
  margin-bottom: 20px;
  cursor: pointer;
  animation-name: btnScala;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
<<<<<<< HEAD
  background-color: #d1a020;
=======
  //background-color: #d1a020;
>>>>>>> diseño
}

@keyframes btnScala {
  from {
    transform: scale(1, 1);
  }
  to {
    //color: rgb(169, 4, 81);
    transform: scale(1.1, 1.1);
    //font-weight: bold;
  }
}

.contenedor-animacion {
  //background-color: aqua;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.animacion {
  width: 90%;
  height: 50vh;
}

.textoIntermitente {
  font-size: 30px;
  font-family: "Passero One", sans-serif;
  letter-spacing: 2px;
  //text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
  line-height: 1.4;
  font-style: normal;
  color: #f1f29c;
  margin-top: 20px;
}

.interpretacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //height: 90%;
  //background-color: aqua;
  gap: 10px;
}

.contenedor {
  //background-color: brown;
  width: 100%;
  //margin: 20px 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
}

.contenedor-runa {
  //background-color: #704214;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //background-image: url('../../../assets/img/fondos/marco.svg');
  margin-top: 10px;
  width: 90%;
  height: 120px;
}

.img-runa {
  width: 56px;
  height: 120px;
  margin: 0 auto;
  background-color: aqua;
}

.texto-justificado {
  width: 100%;
  background-color: aquamarine;
  text-align: justify;
  hyphens: auto; 
  //font-size: 16px;
  line-height: 1.6;
  color: #333;
  //margin-top: 25px; /* Espacio para diferenciar del párrafo anterior */

  /* Propiedades para ajustar el espaciado entre letras/palabras */
  /* Úsalos con precaución, ya que pueden afectar la legibilidad si se exageran */
  //letter-spacing: 0.5px; /* Añade un poco de espacio extra entre las letras */
  /* word-spacing: 2px; */
}

.fondo-contenedor {
  background: rgba(76, 76, 76, 0.8);
=======
  box-sizing: border-box;
}

.contenedor-runa {
  //background-color: #70421480;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../../../assets/img/fondos/marco.svg');
  margin-top: 10px;
  width: 90%;
  //height: 120px;
  //opacity: 0.5;
}

.img-runa {
  width: 50px;
  height: 100px;
  margin: 15px auto;
  //background-color: aqua;
}

.texto-runa-nombre {
  font-family: 'Fondamento', serif;
  font-size: 22px;
  color: #f1f29c;
  text-transform: uppercase;
  font-weight: bold;
  text-align: justify;
  hyphens: auto;
  letter-spacing: 0.7em;
  text-decoration: line-through;
  background-color: rgba(112, 66, 20, 0.5);
}

.fondo-contenedor {
  background: rgba(112, 66, 20, 0.7); // rgba(76, 76, 76, 0.8);
>>>>>>> diseño
  overflow-y: scroll;
  opacity: 0.9;
  width: 90%;
  border-radius: 10px;
  height: 50vh;
<<<<<<< HEAD
  padding: 20px 0;
}

.texto-interpretacion {
  width: 100%;
=======
  padding: 10px 0;
}

.texto-interpretacion {
  width: 95%;
>>>>>>> diseño
  height: 100%;
  text-align: center;
  //margin: 5px; //espacio entre la interpretacion y la imagen
  font-size: 18px;
  line-height: 1.5;
  font-family: "Fondamento", sans-serif;
  //opacity: .9;
  //background: rgba(76, 76, 76, 0.8);
<<<<<<< HEAD
  color: #d1a020;
}

.contenedor-boton {
  transform: translate(0%, -10%);
=======
  color: #f1f29c;
}

.contenedor-boton {
  margin-top: 20px;
  transform: translate(0%, -20%);
>>>>>>> diseño
  position: relative;
}

.alerta {
  width: 80%;
  margin: 10px;
}

.contenedor-alerta {
<<<<<<< HEAD
  margin-top: 20;
}

/*
.costal {
  width: 120px;
  height: 120px;
}

.text {
  margin-top: 95px;
  opacity: 0;
  animation: txtAnim; 
  animation-duration: 3.9s;
  position: relative; 
  animation-iteration-count: 6;
  color: #d1a020;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
}

.anim {
  color: #d1a020;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  position: relative;
  //animation: textScala 3s linear 0 infinite normal;
  animation-name: textScala;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.dcostal {
  position: relative;
  animation-name: mezclar;
  animation-duration: 2.7s;
  animation-direction: alternate-reverse;
  animation-iteration-count: 8;
  animation-timing-function: ease-out;
  transition: step-start;
}

img {
  width: 340px;
  height: 340px;
  margin: 5px;
}

.p-interp, div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-interp {
  width: 90%;
  height: 90%;
}

.txtInterp {
  width: 100%;
  text-align: center;
  //margin: 5px; //espacio entre la interpretacion y la imagen
  font-size: 20px;
  line-height: 1.5;
  //opacity: .9;
  background: rgba(76, 76, 76, 0.8);
  color: #d1a020;
}

mark {
  background-color: #4c4c4c;
  opacity: .9;
  color: #fff;
}

@media only screen and (max-width: 435px) {
  .base, .animation, .interpretation {
    width: 100%;
    height: 100%;
  }

  .costal {
    width: 170px;
    height: 170px;
  }

  .text {
    font-size: 22px;
  }

  .btnIniciar {
    width: 180px;
    height: 180px;
    font-size: 23px;
  }

  .txtBtnIniciar {
    font-size: 20px;
  }
}

@keyframes mezclar {
  0% {
    transform: rotate(18deg);
    top: -100px;
  }
  25% {
    transform: rotate(-18deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-18deg);
    top: 70px;
  }
}

@keyframes txtAnim {
    from {
      opacity: 0;
      transform: translateX(-100%);
    } to {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes textScala {
  from {
    color: #845f03;
    transform: scale(1, 1);
  } to {
    color: #d1a020;
    transform: scale(1.3, 1.3);
    //font-weight: bold;
  }
}

*/
=======
  margin-top: 20vh;
}

@media only screen and (max-width: 1024px) and (min-width: 440px) {

  .base {
    height: 1000px;
  }

  .btn {
    width: 20vw;
    height: 20vw;
  }

  .btnInicio {
    width: 15vw;
    height: 15vh;
  }

  .animacion {
    width: 50vw;
    height: 50vh;
  }

  .contenedor-animacion {
    margin-bottom: 20px;
  }

  .textoIntermitente {
    font-size: 40px;
    margin-top: 50px;
  }

  .contenedor-boton {
    margin-top: 0;
    transform: translate(0%, -30%);
  }

}

@media only screen and (max-width: 435px) {

  .pad {
    width: 100%;
    height: 100%;
    //padding: 0;
    //margin: 0;
    display: contents;
    //background-color: aqua;
  }

  .base {
    width: 100%;
    height: 100%;
  }

  .li-inst .inst-img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    display: block;
  }

  .btn, .btnInicio {
    width: 38vw;
    height: 38vw;
  }

}
>>>>>>> diseño
