.pad {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.base {
  width: 350px;
  height: 95%;
  gap: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 230px;
  height: 230px;
  margin: 20px;
  flex-shrink: 0;
  //background-color: aqua;
}

.instrucciones-txt {
  background-color: #704214;
  border-radius: 5px;
  width: 85%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-shrink: 0;
}

.descripcion-titulo {
  font-size: 22px;
  font-family: "Passero One", sans-serif;
  letter-spacing: 2px;
  //text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
  line-height: 1.4;
  font-style: normal;
  color: #f1f29c;
}

.descripcion-txt {
  font-size: 15px;
  font-family: "Fondamento", sans-serif;
  letter-spacing: 2px;
  //text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
  line-height: 1.4;
  font-weight: bold;
  color: #f9caca;
}

.contenedor-instrucciones {
  width: 100%;
  //display: flex;
  //justify-content: center;
  //background-color: aqua;
  //flex-shrink: 0;
}

.ul-inst {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 95%;
  overflow: hidden;
  //background-color: #bf890b;
}

.li-inst {
  //background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.li-inst:last-child {
  border-bottom: none;
}

.inst-img {
  width: 150px;
  height: 230px;
  //object-fit: contain;
  //display: block;
}

.btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12vw;
  height: 12vh;
  margin-bottom: 20px;
  cursor: pointer;
  animation-name: btnScala;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.btnContinuar {
  background-image: url("../../../assets/img/btn/boton-continuar.png");
  flex-shrink: 0;
}

.btnMensaje {
  background-image: url("../../../assets/img/btn/boton-mensaje.png");
}

.btnInicio {
  width: 9vw;
  height: 9vh;
  margin-bottom: 20px;
  cursor: pointer;
  animation-name: btnScala;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  //background-color: #d1a020;
}

@keyframes btnScala {
  from {
    transform: scale(1, 1);
  }
  to {
    //color: rgb(169, 4, 81);
    transform: scale(1.2, 1.2);
    //font-weight: bold;
  }
}

.contenedor-animacion {
  //background-color: aqua;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}

.animacion {
  width: 90%;
  height: 50vh;
}

.textoIntermitente {
  font-size: 30px;
  font-family: "Passero One", sans-serif;
  letter-spacing: 2px;
  //text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); /* Sombra */
  line-height: 1.4;
  font-style: normal;
  color: #f1f29c;
  margin-top: 50px;
}

.interpretacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //height: 90%;
  //background-color: aqua;
  gap: 10px;
}

.contenedor {
  //background-color: brown;
  width: 100%;
  //margin: 20px 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.contenedor-runa {
  //background-color: #70421480;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../../../assets/img/fondos/marco.svg');
  margin-top: 10px;
  width: 90%;
  //height: 120px;
  //opacity: 0.5;
}

.img-runa {
  width: 50px;
  height: 100px;
  margin: 15px auto;
  //background-color: aqua;
}

.texto-runa-nombre {
  font-family: 'Fondamento', serif;
  font-size: 22px;
  color: #f1f29c;
  text-transform: uppercase;
  font-weight: bold;
  text-align: justify;
  hyphens: auto;
  letter-spacing: 0.7em;
  text-decoration: line-through;
  background-color: rgba(112, 66, 20, 0.5);
}

.fondo-contenedor {
  background: rgba(112, 66, 20, 0.7); // rgba(76, 76, 76, 0.8);
  overflow-y: scroll;
  opacity: 0.9;
  width: 90%;
  border-radius: 10px;
  height: 50vh;
  padding: 10px 0;
}

.texto-interpretacion {
  width: 95%;
  height: 100%;
  text-align: center;
  //margin: 5px; //espacio entre la interpretacion y la imagen
  font-size: 18px;
  line-height: 1.5;
  font-family: "Fondamento", sans-serif;
  //opacity: .9;
  //background: rgba(76, 76, 76, 0.8);
  color: #f1f29c;
}

.contenedor-boton {
  margin-top: 90px;
  transform: translate(0%, -40%);
  position: relative;
}

.alerta {
  width: 80%;
  margin: 10px;
}

.contenedor-alerta {
  margin-top: 20vh;
}

.instrucciones-mbl {
  background-color:#d38d5f;
  width: 70%;
  margin: 50px auto;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #c87137;
}

.deslizar {
  //background-color: #bf890b;
  width: 80%;
  margin: auto;
  position: relative;
  transform: translate(0, -150px);
}

.dedo {
  height: 140px;
  width: 70px;
  position: relative;
  margin: auto;
  animation: dezlis 8s infinite;
  //background-color: #0174df;
}

@keyframes dezlis {
  0% {
    left: 70%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 70%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 440px) {

  .base {
    height: 1000px;
  }

  .btn {
    width: 20vw;
    height: 20vw;
  }

  .btnInicio {
    width: 15vw;
    height: 15vh;
  }

  .animacion {
    width: 50vw;
    height: 50vh;
  }

  .contenedor-animacion {
    margin-bottom: 20px;
  }

  .textoIntermitente {
    font-size: 40px;
    margin-top: 50px;
  }

  .contenedor-boton {
    margin-top: 0;
    transform: translate(0%, -30%);
  }

}

@media only screen and (max-width: 435px) {

  .pad {
    width: 100%;
    height: 100%;
    //padding: 0;
    //margin: 0;
    display: contents;
    //background-color: aqua;
  }

  .base {
    width: 100%;
    height: 100%;
  }

  .inst-img {
    width: 250px;
    height: 350px;
    //object-fit: contain;
    //display: block;
  }

  .btn {
    width: 40vw;
    height: 40vh;
  }

  .btnInicio {
    width: 40vw;
    height: 7vh;
  }

}