<div class="pad">
  <!-- Boton iniciar -->
  <div class="base {{ tema }}" *ngIf="mostrarInicio">
    <div class="btnIniciar" (click)="btnIniciar()">
      <p class="">Iniciar</p>
    </div>
  </div>

  <!-- Animación Mezclar -->
  <div
    class="base {{ tema }}"
    *ngIf="mostrarAnimacion && !mostrarInicio"
    (click)="cerrarAnimacion()"
  >
    <div class="dcostal">
      <img src="/assets/img/saco.png" class="costal" alt="costal-runas" />
    </div>
    <div class="text">
      <p>{{ textoAnimacion }}</p>
    </div>
    <p class="anim">{{ iniciar }}</p>
  </div>

  <!-- Interpretacion -->
  <div class="base {{ tema }}" *ngIf="!mostrarAnimacion">
    <!-- Contenido Interpretacion -->
    <div *ngIf="mostrarInterpretacion" class="p-interp">
      <div>
        <img [src]="imagen" alt="" />
      </div>
      <div>
        <p class="txtInterp">{{ textInterp }}</p>
      </div>
      <div></div>
    </div>

    <!-- Contenido Caducado -->
    <div *ngIf="mostrarCaducado">
      <div>
        <p>Ha caducado</p>
      </div>
    </div>

    <!-- Contenido Reintento -->
    <div *ngIf="mostrarReintento">
      <div>
        <p>Reintenta mas tade</p>
      </div>
    </div>

    
    
  </div>
</div>
