<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Generar QR </mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="QFvW99yh0T..."
        #input
      />
    </mat-form-field>

    <button mat-stroked-button (click)="ordenarSeleccionados()" [disabled]="generarActive">
      Generar
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <!--<mat-checkbox (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>-->
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation(); mapearSeleccionado(row)"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"

          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="tipoPaquete">
        <th mat-header-cell *matHeaderCellDef>Tipo Paquete</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoPaquete }}</td>
      </ng-container>

      <ng-container matColumnDef="paquete">
        <th mat-header-cell *matHeaderCellDef>Paquete</th>
        <td mat-cell *matCellDef="let element">{{ element.paquete }}</td>
      </ng-container>

      <ng-container matColumnDef="lote">
        <th mat-header-cell *matHeaderCellDef>Lote</th>
        <td mat-cell *matCellDef="let element">{{ element.lote }}</td>
      </ng-container>

      <ng-container matColumnDef="creacion">
        <th mat-header-cell *matHeaderCellDef>Creación paquete</th>
        <td mat-cell *matCellDef="let element">{{ element.creacion }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>

<!-- QR images -->
<div id="contentToConvert" class="qrcodeImage" *ngIf="visibleQR">
  <div class="{{borde}}">
    <span>{{tp}}</span>
  <mat-grid-list cols="{{colGrid}}" rowHeight="155px" [gutterSize]="'5px'">
    <mat-grid-tile class="gridItem" *ngFor="let qr of qrList">
      <qr-styles [path]="qr['codi']" [img]="qr['img']" ></qr-styles>
    </mat-grid-tile>
    <mat-grid-tile class="gridItem" *ngFor="let qr2 of qrList2">
      <qr-styles-dot [path]="qr2['codi']" [img]="qr2['img']" ></qr-styles-dot>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>