.flotante {
    width: 68px;
    height: 68px;
    position: fixed;
    z-index: 100;
    margin-left: 57%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    //border-radius: 50%;
    box-shadow: 4px 4px 9px rgb(150, 149, 149);
}


.filas {
    float: left;
    display: inline-flex;
}

.qrcodeImage {
    margin: 10px;
}

.gridItem {
    margin: 4px;
    //background-color: aqua;
    width: 20px;
}

.conBorde {
    border-top: 2px dashed black;
}

.sinBorde {
    border-top: none;
}

span {
    font-size: 10px;
    margin-left: 30px;
}