<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Registros">
        <ng-template matTabContent>
            <app-admin-lots></app-admin-lots>
        </ng-template>
    </mat-tab>
    <mat-tab label="Interpretaciones">
        <ng-template matTabContent>
            
            <app-admin-interp></app-admin-interp>
        </ng-template>
    </mat-tab>
    <mat-tab label="Configuraciones">
        <ng-template matTabContent>
            <app-admin-config></app-admin-config>
        </ng-template>
    </mat-tab>
</mat-tab-group>
