<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <p>Paquete: {{ numPaquete }}</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Lote: {{ lote }}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <button (click)="refrescar()">
          <span class="material-icons">
            refresh
          </span>
        </button>
      </div>
      <div class="desc">
        <p class="">Tipo Paquete: {{ tipoPaquete }}</p>
        <p class="">Creado: {{ creacion }}</p>
        <p class="">Estatus: {{ activo }}</p>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Semáforo de consultados</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="4" rowHeight="217px" [gutterSize]="'10px'">
              <mat-grid-tile *ngFor="let runa of runas">
                <mat-card class="{{ runa.semaforo }}" id="mt-crd">
                  <mat-card-content>
                      <img src="{{ runa.url }}" class="{{ runa.inver }}" />
                      <p>{{ runa.codr }}</p>
                      <p>{{ runa.consultas }} Consultas</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
