.fm {
    width: 70%;
    margin-left: 15%;
}

.mff {
    margin: 15px;
}

.lrg {
    width: 45%;
}

.med {
    width: 35%;
}

.btn {
    color: blue;
    margin: 10px;
}

.btn-d {
    color: red;
    margin: 10px;
}

.scroll-400 {
    overflow: scroll;
    height: 400px;
}